{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
<section class="brand">
    {% if messages %}
        <div id="messages">
            <br>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="login">
        <h2>Confirmar Exclusão do Pet</h2>
        <h3>Tem certeza de que deseja apagar o pet {{ animal.nome }}?<h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-danger">Apagar</button>
            <a href="{% url 'listar_pets' %}" class="btn-success">Cancelar</a>
        </form>
    </div>
</section>
{% endblock %}
