{% extends 'base.html' %}
{% load static %}


{% block 'home' %}

    {% if messages %}
    <br>
        {% for message in messages %}
            <section>
            <div class="alert {{ message.tags }}"> {{ message }} </div>
        </section>
        {% endfor %}
    {% endif %}

    <section class="home_inicio" id="home">
        <div class="home-text">
            <h1>Estetica Animal<br><span>LOVE PETS</span></h1>
            <p>Onde o amor pelos animais encontra <br> praticidade e qualidade</p>
            <a href="{% url 'criar_agenda' %}" class="btn">Agendar</a>
        </div>
    </section>
{% endblock %}
