{% extends 'base.html' %}
{% load static %}


{% block 'dashboard' %}
<body>
    <div class="container">
        <h2>Cadastro de Usuário</h2>
        <form id="signupForm" action="submit_form.php" method="post">
            <div class="form-group">
                <label for="firstName">Nome:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Sobrenome:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar Senha:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
    </div>

    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                alert('As senhas não coincidem. Por favor, tente novamente.');
                event.preventDefault();
            }
        });
    </script>
</body>
{% endblock%}


{% block 'body' %}

<div class="container">
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        <br>
        <label>E-mail</label>
        <input type="email" placeholder="Digite seu E-mail...." name="email" class="form-control">
        <br>
        <label>Senha</label>
        <input type="password" placeholder="Digite seu Senha...." name="senha" class="form-control">
        <br>
        <input type="submit" class="btn-success">
    </form>
</div>

{% endblock %}