{% extends 'base.html' %}
{% load static %}


{% block 'body' %}
<section class="brand">
    <div class="login">
        {% if messages  %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}"> {{message}} </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'register_client' %}" method="POST">{% csrf_token %}
            <br>
            <label>Nome</label>
            <input type="text" placeholder="Digite seu Nome...." name="nome" class="form-control">
            <br>
            <label>Sobrenome</label>
            <input type="text" placeholder="Digite seu Sobrenome...." name="sobrenome" class="form-control">
            <br>
            <label>E-mail</label>
            <input type="email" placeholder="Digite seu E-mail...." name="email" class="form-control">
            <br>
            <label>Senha</label>
            <input type="password" placeholder="Digite seu Senha...." name="senha" class="form-control">
            <br>
            <label>Confirme a senha</label>
            <input type="password" placeholder="Confirme a Senha...." name="confirma_senha" class="form-control">
            <br>
            <input type="submit" class="btn-success">
        </form>
    </div>
</section>

{% endblock %}

