{% load static %}
<!doctype html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="icon" href="img/1.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/1.png" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'cliente/css/style.css' %}"> 
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"rel="stylesheet">


    {% block 'head' %}

    {% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
</head>

<body class="fundo">

    <!---header--->
    <header>
        <div class="img-navlist">
            <img src="{% static 'cliente/img/logo_nav_bar_2.png' %}">
        </div>
        <a href="#" class="logo">Love Pets</a>
        <ul class="navlist">
            <li><a href="{% url 'inicio'%}">Home</a></li>
            <li><a href="{% url 'criar_agenda'%}">Agenda</a></li>
            <li><a href="{% url 'register_pet'%}">Pets</a></li>
            
        </ul>

        <div class="header-icons">
            <div class="icon-container">
                <div class="navlist">
                    <a href="{% url 'login' %}">Entre
                        <i class='bx bx-user-circle'></i>
                    </a>
                    <a href="{% url 'register_client' %}">Cadastro
                        <i class='bx bx-user-plus'></i>
                    </a>
                    <a href="{% url 'logout' %}">Sair
                        <i class='bx bxs-door-open'></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!---HOME--->
    {% block 'home' %}

    {% endblock %}
    

    {% block 'body' %}

    {% endblock %}

    <!---contact--->
    <section class="contact" id="contact">
        <div class="main-contact">
            <h3>Love Pets</h3>
            <h5>Connect com a nosssa equipe</h5>

            <div class="icons">
                <a href="https://w.app/LovePets"><i
                        class='bx bx-message-detail'></i></a>
                <a href="https://www.instagram.com/lovepets.ma/"><i
                        class='bx bxl-instagram-alt'></i></a>
            </div>
        </div>

        <div class="main-contact">
            <h3>Explore</h3>
            <ul class="Contact">
                <li><a href="#">Home</a></li>
                <li><a href="produtos.html">Cafeteiras</a></li>
                <li><a href="produtos.html">Capsulas</a></li>
                <li><a href="index.html">Novidades</a></li>
            </ul>
        </div>

        <div class="main-contact">
            <h3>Nosso serviço</h3>
            <li><a href="#">Café Expresso</a></li>
            <li><a href="#">Café Americano</a></li>
            <li><a href="#">Latte</a></li>
        </div>

        <div class="main-contact">
            <h3>Cafeteiras</h3>
            <li><a href="#">Cafeteira de Filtro</a></li>
            <li><a href="#">Cafeteira de Aeropress</a></li>
            <li><a href="#">Cafeteira de Espresso</a></li>
        </div>

        <div class="main-contact">
            <h3>Capsulas</h3>
            <li><a href="#">Café Expresso</a></li>
            <li><a href="#">Café Longo ou Americano</a></li>
            <li><a href="#">Café Forte ou Ristretto</a></li>
            <li><a href="#">Café Descafeinado</a></li>
        </div>

    </section>

    <script src="https://unpkg.com/scrollreveal"></script>

    <!---custom js link --->
    <script src="{% static 'cliente/js/script.js' %}"></script>

</body>

</html>