{% load static %}
<!doctype html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="icon" href="img/1.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/1.png" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'cliente/css/style.css' %}"> 
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"rel="stylesheet">

    <title>{% block 'title' %}{% endblock %}</title>
</head>

<body class="fundo">

    <!---header--->
    <header>
        <div class="img-navlist">
            <img src="{% static 'cliente/img/logo_nav_bar_2.png' %}">
        </div>
        <ul class="navlist">
            <li><a href="{% url 'inicio' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'criar_agenda' %}">Agenda</a></li>
                <li><a href="{% url 'register_pet' %}">Pets</a></li>
                <li><a href="{% url 'listar_agendamentos' %}">Minha Agenda</a></li>
                {% if user.cargo == 'W' %}
                    <li><a href="{% url 'criar_servico' %}">Serviço</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'register_client' %}">Agenda</a></li>
                <li><a href="{% url 'register_client' %}">Pets</a></li>
            {% endif %}
        </ul>        

        <div class="header-icons">
            <div class="icon-container">
                <div class="navlist">
                    <a href="{% url 'login' %}">Entre
                        <i class='bx bx-user-circle'></i>
                    </a>
                    <a href="{% url 'register_client' %}">Cadastro
                        <i class='bx bx-user-plus'></i>
                    </a>
                    <a href="{% url 'logout' %}">Sair
                        <i class='bx bxs-door-open'></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!---HOME--->
    {% block 'home' %}

    {% endblock %}
    

    {% block 'body' %}

    {% endblock %}

        <!-- -brand-
        <section class="brand">
            <div class="brand-content">
                <div class="main">
                    <a href="https://www.nespresso.com/br/pt/"><img src="img/Nespresso_logo.png"></a>
                </div>
                <div class="main">
                    <a
                        href="https://www.cafelor.com.br/?gclid=Cj0KCQjwxuCnBhDLARIsAB-cq1o_3-vV9EuC9I6Ut1pAzwQqugvz9kJRTKKlLTeq03gXJIfoVOrlMWYaAkcSEALw_wcB>"><img
                            src="img/lor_logo.webp"></a>
                </div>
                <div class="main">
                    <a href="https://www.starbucks.com.br"><img src="img/starbucks_logo.png"></a>
                </div>
                <div class="main">
                    <a
                        href="https://www.mercafe.com.br/?utm_source=bing&utm_medium=cpc&utm_campaign=bing_mer_institucional&msclkid=70095ae5fcaa1c8bd4f83e03e93ea8ca"><img
                            src="img/tres_logo1.png"></a>
                </div>
                <div class="main">
                    <a href="https://www.nescafe-dolcegusto.com.br"><img src="img/Dolce_gusto_logo.png.webp"></a>
                </div>
            </div>
        </section>     -->

    <!---contact--->
    <section class="contact" id="contact">
        <div class="main-contact">
            <h3>Love Pets</h3>
            <h5>A Love Pets oferece um serviço de banho e tosa na porta da sua casa,<br> 
                utilizando a sua água e energia para maior conveniência.</h5>

            <div class="icons">
                <a href="https://w.app/LovePets"><i
                        class='bx bx-message-detail'></i></a>
                <a href="https://www.instagram.com/lovepets.ma/"><i
                        class='bx bxl-instagram-alt'></i></a>
            </div>
        </div>

        <div class="main-contact">
            <h3>Explore</h3>
            <ul class="Contact">
                <li><a href="{% url 'inicio'%}">Home</a></li>
                <li><a href="{% url 'criar_agenda'%}">Agenda</a></li>
                <li><a href="{% url 'register_pet'%}"> Cadastre seu Pet</a></li>
            </ul>
        </div>

        <div class="main-contact">
            <h3>Nosso serviço</h3>
            <li><a href="#">Banho</a></li>
            <li><a href="#">Tosas</a></li>
            <li><a href="#">hidratação</a></li>
        </div>

    </section>

    <script src="https://unpkg.com/scrollreveal"></script>

    <!---custom js link --->
    <script src="{% static 'cliente/js/script.js' %}"></script>

</body>

</html>