{% extends 'base.html' %}
{% load static %}

{% block 'body' %}

<section class="brand"> 

    {% if messages  %}
    <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}"> {{message}} </div>
        {% endfor %}
    {% endif %}


    <div class="login">
        <div class="login">
            <form action="{% url 'agenda' %}" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" class="btn btn-success" value="Salvar">
            </form>
        </div>
    </div>
</section>

{% endblock %}