{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
<section class="brand"> 
    {% if messages %}
    <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="login">
        <form action="{% url 'criar_servico' %}" method="POST">{% csrf_token %}
            <label>CADASTRO DE SERVIÇOS</label>
            <br>
            <label for="nome_servico">Nome do Serviço:</label>
            <input type="text" id="nome_servico" name="nome_servico" placeholder="Digite o nome do serviço..." class="form-control" required>
            <br>
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" placeholder="Digite a descrição do serviço..." class="form-control" required>
            <br>
            <label for="duracao">Duração (HH:MM):</label>
            <input type="time" id="duracao" name="duracao" class="form-control" required>
            <br>
            <input type="submit" class="btn-success" value="Cadastrar Serviço">
        </form>
    </div>
</section>
{% endblock %}
